<div>
<a class="btn btn-secondary" href="/project"><i class="fa fa-plus"></i> Create New</a> 
 
<h3 align="center">Stored Project Links</h3>
</div>
<table class="table table-striped">
<thead>
<tr>
<th>Project Name</th>
<th>Project Link</th>   
<th>Start Date</th>
<th>End Date</th>
<th></th>
</tr>
</thead>
<tbody>
{{#each list}}
<tr align="center">
<td>{{this.project.projectName}}</td>
<td>{{this.project.projectLink}}</td>
<td>{{this.project.projectStart}}</td>
<td>{{this.project.projectEnd}}</td>
<td>
<a href="/project/{{this.project._id}}"> Edit </a>
<a href="/project/delete/{{this.project._id}}" onclick="return confirm('Are you sure to delete this record ?');"> Delete </a>
</td>
</tr>
{{/each}}
</tbody>
</table>
