extends layout

block content
  div.home_content
    h2.heading Messages
    each message, index in messages
      .message.loaded(style=`animation-delay: ${50 + 125 * (index)}ms`)
        if user && (user.is_member || user.is_admin)
          .message_info
            .author
              span.text-light Author:
              span.text-highlighted= message.user.full_name
            .date
              span.text-light Date added:
              span.text-highlighted= message.date_formatted
        .message_content
          h3= message.title
          p= message.text
        if user && user.is_admin
          .delete_ui
            a(href=`/delete/${message.id}`)
              button.btn-secondary(type="submit") Delete message


  